// Import all of Bootstrap's CSS
@use "bootstrap/scss/bootstrap";

@use "colors";

::selection {
  background-color: colors.$accent-color;
  color: colors.$primary-bg-color;
}

body {
  background-color: colors.$primary-bg-color;
  color: colors.$primary-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: colors.$secondary-color;

  a {
    color: colors.$secondary-color;

    &:hover {
      color: colors.$secondary-color;
    }
  }
}

a {
  color: colors.$primary-color;
  text-decoration: none;
}

a:hover {
  color: colors.$accent-color;
}

ul {
  list-style: none;
  padding: 0;

  li {
    display: inline;
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr;

  @media screen and (min-width: 992px) {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "header devfolio";
    column-gap: 3em;
  }
}

.headline {
  @extend .fs-2;
  color: colors.$secondary-color;
}

nav {
  li {
    @extend .text-uppercase;
    list-style-type: none;

    .nav-link {
      &:active {
        color: colors.$secondary-color;
      }

      &:hover {
        color: colors.$secondary-color;
      }
    }
  }
}

.social-media-list {
  .social-media-item {
    a {
      font-size: 24px;

      &:hover {
        color: colors.$secondary-color;
      }
    }

    &:not(:last-child) {
      margin-right: 18px;
    }
  }
}

section {
  margin-bottom: 3em;

  h2 {
    &::after {
      content: "";
      display: block;
      border-bottom: 1px solid colors.$secondary-color;
      margin: 0.5em 0;
      width: auto;
    }
  }
}

.experience-list {
  padding: 0;

  .experience-item {
    list-style-type: none;

    &:not(:last-child) {
      margin-bottom: 32px;
    }

    .experience-content {
      display: grid;
      column-gap: 1.5em;
      grid-template-columns: 1fr;

      @media screen and (min-width: 992px) {
        grid-template-columns: 1fr 3fr;
        grid-template-areas: "duration company";
      }
    }
  }
}

.projects-list {
  padding: 0;

  .project-item {
    list-style-type: none;

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}

.skills {
  @extend .d-flex, .flex-wrap, .row-gap-3, .column-gap-2;

  span {
    @extend .p-2, .rounded-pill;
    background-color: rgb(45, 212, 191, 0.1);
    color: colors.$accent-color;
    font-size: 12px;
  }
}

.max-w-screen-xl {
  max-width: 1280px;
}
