// Import all of Bootstrap's CSS
@use "bootstrap/scss/bootstrap";

@use "colors";

::selection {
  background-color: colors.$accent-color;
  color: colors.$primary-bg-color;
}

body {
  background-color: colors.$primary-bg-color;
  color: colors.$primary-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: colors.$secondary-color;

  a {
    color: colors.$secondary-color;

    &:hover {
      color: colors.$secondary-color;
    }
  }
}

a {
  color: colors.$primary-color;
  text-decoration: none;
}

a:hover {
  color: colors.$accent-color;
}

ul {
  list-style: none;
  padding: 0;

  li {
    display: inline;
  }
}

ol.experience-list {
  padding: 0;

  li {
    list-style-type: none;
  }
}

ul.social-networks {
  li {
    a {
      font-size: 24px;

      &:hover {
        color: colors.$secondary-color;
      }
    }

    &:not(:last-child) {
      margin-right: 18px;
    }
  }
}

ul.development-stack {
  li {
    &:not(:last-child) {
      margin-right: 12px;
    }
  }
}

.max-w-screen-xl {
  max-width: 1280px;
}
